body{
    padding : 3em;
}
ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
}
li{
    display: inline;
    float :right;
    padding:2em;
    padding-bottom: 0.5em;
    padding-top: 0em;
 
}
h1{
    margin: 0px;
}
#site-logo{
    margin: 0px;
    padding: 0px;
    font-size: 1.2em;

}