body{
    padding : 3em;
}
ul{
    list-style-type: none;
    display: block;
}
li{
    display: inline;
    float :right;
    padding:2em;
    padding-top: 0em;
 
}
#site-logo{
    display: block;
    padding-top: 1em;
    font-size: 1.2em;

}