body{
    padding : 4em;
    font-family: sans-serif;
}
ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
}
li{
    display: inline;
    float :right;
    padding:2em;
    padding-bottom: 0.5em;
    padding-top: 0em;
 
}
h1{
    margin: 0px;
}
#site-logo{
    margin: 0px;
    padding: 0px;
    font-size: 1.2em;

}

#banner{
    width:100%;
    padding-top:2em;
    padding-bottom: 3em;
    padding-left: 1em;
    margin-top : 2em;
    margin-bottom: 2em;
    background-color: #EEEEEE;
}

#banner-text{
    width: 25%;
    margin-bottom: 2em;
    
}

#headings{
    padding: 1em 2em 1em 1em;
    display: flex;
    width: 100%;

}
#heading-1{
    background-color: white;
    width: 33%;
}

#box1{
    background-color: #EEEEEE;
    padding: 30% 20% 10% 20%;
    margin: 10%;
    margin-top: 0;
    margin-bottom: 0;
}
#head1{
    font-size: 1em;
    text-align: center;
    padding-top: 5%;
    font-weight: bold;
}
#head-para1{
    text-align: justify;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    

}
#head-link1{
    text-align: center;
    padding-top: 5%;
}

#Subscribe{
    width:100%;
    padding-top:1.8em;
    padding-bottom: 1.8em;
    padding-left: 1em;
    margin-top : 2em;
    margin-bottom: 2em;
    background-color: #EEEEEE;
    text-align: center;
}
#sub-text{
    display: inline;
    font-size: 1.5em;
    font-weight: bold;
}
#Text-box{
    width: 18em;
    margin-left:1em;
    margin-right: 1em;
    height: 2em;
}
#button2{
    width: 14em;
    height: 2em;
    background-color: #288ACF;
    border: none;
    text-align: left;
    padding-left: 2em ;
    color:white;
    font-size: 1em;
    font-weight: bold;
}

